*{
    margin: 0;
    padding: 0;        
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.container{    
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 10rem;
}

.frame{
    width: 500px;    
    height: 500px;
    overflow: hidden;
}
.slider{
    display: flex;
    gap: 10px;
    transition: all 1s ease;
}
.image{
    width: 490px;
    height: 350px;    
    object-fit: cover;    
    border-radius: 1rem;
}

/* .theme-btn{
    display: flex;
    position: absolute;
    align-items: center;    
    padding: 0rem 1rem;
} */
.theme-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;    
    cursor: pointer;
    box-shadow: 3px 3px 5px #0000002b,inset
                3px 3px 5px #0000002b;
}
.theme-btn i{
    color: #a5a3a3;
    font-size: 2.3rem; 
}
.left-swipe-btn{
    left: 0%;
}
.right-swipe-btn{
    right: 0%;    
}
